@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
    --background: #0A2647;
    --foreground-dark: #144272;
    --foreground-dark-opacity: #144172ee;
    --foreground-medium: #205295;
    --foreground: #2C74B3;
    --green: rgb(45, 126, 85);
    --red: rgb(163, 71, 71);

    font-family: 'Inter', sans-serif;
}

/* remove delay on touch */
a, button, .myelements
{
	-ms-touch-action: manipulation;	/* IE10  */
	touch-action: manipulation;		/* IE11+ */
}

body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

h1 {
    color: var(--foreground);
}

.turn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    margin-top: 20px;
}

p {
    margin: 0;
}

.turn-container>p {
    color: var(--foreground);
    font-weight: normal;
    font-size: 25;
}

#player-turn {
    font-weight: bold;
    font-size: 30;
    color: var(--foreground);
}

#board {
    width: 30vw;
    height: 30vw;
    background-color: transparent;
    margin-top: 50px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.cell {
    border-style: solid;
    border-color: var(--foreground-dark);
    background-color: transparent;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-duration: 100ms;

    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
}

#cell-0 {
    border-top: 0;
    border-left: 0;
}

#cell-1 {
    border-top: 0;
}

#cell-2 {
    border-top: 0;
    border-right: 0;
}

#cell-3 {
    border-left: 0;
}

#cell-5 {
    border-right: 0;
}

#cell-6 {
    border-bottom: 0;
    border-left: 0;
}

#cell-7 {
    border-bottom: 0;
}

#cell-8 {
    border-bottom: 0;
    border-right: 0;
}

.win {
    animation-name: winner;
    animation-duration: 300ms;
    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

.playerX {
    width: 100%;
    height: 100%;
    mask: url('images/x.svg') no-repeat 100% 100%;
    mask-size: contain;
    -webkit-mask: url('images/x.svg') no-repeat 100% 100%;
    -webkit-mask-size: contain;
    background-color: var(--foreground);

    animation-name: reveal;
    animation-duration: 300ms;
    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

.playerCircle {
    width: 90%;
    height: 90%;
    mask: url('images/circle.svg') no-repeat 100% 100%;
    mask-size: contain;
    -webkit-mask: url('images/circle.svg') no-repeat 100% 100%;
    -webkit-mask-size: contain;
    background-color: var(--foreground);

    animation-name: reveal;
    animation-duration: 300ms;
    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

.score-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
}

.score-container>p {
    margin-top: 20px;
    font-size: 20;
    color: var(--foreground)
}

.score-container>.score {
    font-weight: bold;
    font-size: 30;
}

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.452);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#restart-container {
    visibility: hidden;
    transition-delay: 1s;
}

#restart-modal {
    transition-duration: 0ms;
    transition-delay: 0ms;
}

.modal {
    width: 25%;
    aspect-ratio: 1/1;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;

    background-color: var(--foreground-dark);
    border-radius: 5px;
}

.modal-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-content>p {
    font-size: 25;
    color: rgba(255, 255, 255, 0.829);
}

#winner {
    font-size: 40;
    font-weight: bold;
    color: white;
    margin-top: 7%;
}

#restart-modal > button{
    margin-bottom: 4%;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--foreground);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15;
}

#question-container {
    visibility: hidden;
}

#question-modal {
    width: 40%;
    padding: 2% 2% 2% 2%;
    color: white;

    animation-duration: 300ms;
    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

#title {
    font-weight: bold;
    font-size: 30;
}

#question {
    font-weight: normal;
    font-size: 20;
    margin-top: 2%;
    text-align:  center;
}

.answer {
    width: 100%;
    font-size: 15;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: var(--foreground);

    color: white;
    border: none;
    border-radius: 5px;

    transition: all;
    transition-duration: 100ms;
}

.answer-hover {
    background-color: var(--foreground-medium);
    cursor: pointer;
}

.correct {
    background-color: var(--green);
}

.incorrect {
    background-color: var(--red);
}

#answer-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    row-gap: 15px;
}

#menu-modal > button {
    margin-bottom: 30px;
    width: 80%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20;
    background-color: var(--foreground);
    border: none;
    border-radius: 5px;
    color: white;
}

#menu-title {
    margin-top: 50px;
    font-size: 30;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}

#how-to-play {
    color: white;
    padding-left: 10%;
    padding-right: 10%;
}

#how-to-play > p {
    font-size: 22;
    text-align: center;
    font-weight: bold;
}

ol li {
    margin: 10px;
}

@keyframes winner {
    0% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes reveal {
    0% {
        transform: scale(0);
    }

    75% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes modal-reveal {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes modal-close {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 300px) {
    #board {
        width: 90vw;
        height: 90vw;
        margin-top: 10%;
    }

    .score-container {
        width: 80vw;
    }

    .cell {
        border-width: 10px;
    }

    .score-container>p {
        margin-top: 40%;
        font-size: 40;
        color: var(--foreground)
    }

    .score-container>.score {
        margin-top: 10%;
        font-weight: bold;
        font-size: 90;
    }

    .turn-container>p {
        font-size: 40;
    }

    #player-turn {
        font-size: 100;
    }

    .modal {
        width: 90%;
    }

    .modal-content>p {
        font-size: 80;
    }

    #winner {
        font-size: 150;
    }

    #restart-modal > button {
        padding-top:5%;
        padding-bottom: 5%;
        font-size: 50;
        border-radius: 5px;
    }

    #menu-title {
        font-size: 100;
        margin-bottom: 10%;
    }

    #menu-modal > button {
        width: 90%;
        margin-top: 10%;
        font-size: 60;
    }

    #question-modal {
        width: 90%;
        height: 70%;
    }

    #title {
        font-size: 70;
    }

    #question {
        font-size: 60;
    }

    .answer {
        padding-top: 5%;
        padding-bottom: 5%;
        font-size: 40;
    }

    #how-to-play > p {
        font-size: 50;
    }
    
    ol li {
        margin-bottom: 15px;
        font-size: 40;
    }
}

@media only screen and (min-width: 992px) {
    #board {
        width: 30vw;
        height: 30vw;
        margin-top: 50px;
    }

    .score-container {
        width: 30vw
    }

    .cell {
        border-width: 2px;
    }

    .score-container>p {
        margin-top: 20px;
        font-size: 20;
        color: var(--foreground)
    }

    .score-container>.score {
        font-weight: bold;
        font-size: 30;
    }

    .turn-container>p {
        font-size: 30;
    }

    #player-turn {
        font-size: 40;
    }

    .hover:hover {
        background-color: var(--foreground-dark);
    }

    .modal {
        width: 25%;
    }

    .modal-content>p {
        font-size: 25;
    }

    #winner {
        font-size: 40;
    }

    #restart-modal > button {
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 20;
        border-radius: 5px;
    }

    #menu-modal {
        width: 40%;
    }

    #menu-title {
        font-size: 40;
    }

    #menu-modal > button {
        padding-top: 15px;
        padding-bottom: 15px;
        width: 80%;
        font-size: 20;
    }

    #question-modal {
        width: 40%;
    }

    #title {
        font-size: 30;
    }

    #question {
        font-size: 20;
    }

    .answer {
        padding-top: 3%;
        padding-bottom: 3%;
        font-size: 15;
    }

    #how-to-play > p {
        font-size: 22;
    }
    
    ol li {
        font-size: 20;
    }

}